@model bd.machine.webApp.ViewModels.Home.HomeIndexViewModel

<div class="center-block">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<form action="/go/magic" method="get">
				<div class="input-group">
					@Html.TextBoxFor(m => m.Term, new { type="text", @class="form-control", placeholder="https://asd01.localtunnel.me" })
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default">Go!</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>

@if(Model.SearchResults == null) { return; }

<div class="row">
	<div class="col-md-12">
		<iframe scrolling="no" style="border: 0; width: 728px; height: 90px;" src="//coinurl.com/get.php?id=61178"></iframe>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@foreach(var searchResult in Model.SearchResults) {
		<blockquote>
			<h4>@searchResult.Title</h4>
			<p>@searchResult.Description</p>
			<footer><a href="@searchResult.Url">@searchResult.Url</a></footer>
		</blockquote>
		}
	</div>
</div>