@model bd.machine.webApp.ViewModels.Html.HtmlIdViewModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Html</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" @if(Model.Html != null) { @Html.Raw(@"class=""active"""); } ><a href="/Html/Html/@Model.Id">HTML</a></li>
					<li role="presentation" @if(Model.Keywords != null) { @Html.Raw(@"class=""active"""); } ><a href="/Html/Keywords/@Model.Id">Keywords</a></li>
					<li role="presentation" @if(Model.Text != null) { @Html.Raw(@"class=""active"""); }><a href="/Html/Text/@Model.Id">Text</a></li>
					<li role="presentation" @if(Model.Images != null) { @Html.Raw(@"class=""active"""); }><a href="/Html/Images/@Model.Id">Bilder</a></li>
					<li role="presentation" @if(Model.Urls != null) { @Html.Raw(@"class=""active"""); }><a href="/Html/Urls/@Model.Id">Links</a></li>
				</ul>
			</div>
			@if(Model.Html != null) {
			<div class="panel-body">
				@Model.Html.Raw
			</div>
			} else if(Model.Text != null) {
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Text</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var textLine in Model.Text.TextLines) {
						<tr>
							<td>
								@textLine
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			} else if (Model.Urls != null) {
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var url in Model.Urls.Urls) {
						<tr>
							<td>
								@url
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			} else if (Model.Keywords != null) {
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Keyword</th>
							<th>Anzahl</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var keyword in Model.Keywords.Keywords) {
						<tr>
							<td>
								@keyword.Key
							</td>
							<td>
								@keyword.Value
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			}
		</div>
	</div>
</div>