@model bd.machine.webApp.ViewModels.RawHtml.RawHtmlDetailsViewModel
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Model.Url @Model.DownloadDateTime</h3>
			</div>
			<div class="panel-body">
				<form>
					<fieldset disabled>
						<div class="form-group">
							@Html.LabelFor(x => x.PageTitle)
							@Html.TextBoxFor(x => x.PageTitle, new { @class="form-control" })
						</div>
					</fieldset>
				</form>
			</div>
			<div class="panel-body">
				@Model.RawHtml
			</div>
		</div>
	</div>
</div>